html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(65, 6, 6);
}

#container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#container-grid {
    display: grid;
    width: 1000px;
    gap: 5px;
}

#p-generate-text {
    color:antiquewhite;
    font-size: 20px;
    margin-bottom: -5px;
}

#p-maximum-amount {
    color: rgb(255, 178, 77);
}

#input-grids {
    margin: 10px 0;
    width: 45px;
    text-align: center;
}

#button-generate {
    font-size: 18px;
    margin-bottom: 10px;
}